In [1]:
import pandas as pd

df = pd.read_excel("contract_extractions.xlsx")

In [2]:
df.columns

Index(['Extracted At', 'Document Name', 'Document Type', 'Party Names',
       'Start Date', 'Due Date', 'Amount', 'Currency', 'Frequency',
       'Account Type (Head)', 'ID', 'Risk Score'],
      dtype='object')

In [3]:
df

,Extracted At,Document Name,Document Type,Party Names,Start Date,Due Date,Amount,Currency,Frequency,Account Type (Head),ID,Risk Score
0,2025-12-02 15:46:22.907,Agreement_Sep 2020.pdf,LEASE,"Dr. ABBAS HYDERI, HYPERTHINK SYSTEMS PRIVATE L...",2020-09-25,NaN,55000,INR,Monthly,Lease/Rental Expense,PAN: AJPA4931H; CIN: U72400TG2009PTC062852; Ce...,20/100 (Low)
1,2025-12-02 15:51:04.967,Agreement_Sep 2020.pdf,LEASE,"Dr. ABBAS HYDERI, HYPERTHINK SYSTEMS PRIVATE L...",2020-09-25,NaN,55000,INR,Monthly,Lease/Rental Expense,PAN: AJPA4931H; CIN: U72400TG2009PTC062852; Ce...,20/100 (Low)